{%extends 'base.html'%}

{%block head%}

{%endblock%}

{%block body%}
<div class="row"><h1 class="p-5">Cities</h1></div>
<div class="row p-3">
    <div class ="col-md-4 p-3">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class ="alert alert-success alert-dismissible fade show" role ="alert">
        {{message}}
        <button type="button" class="close" data-dismiss = "alert" aria-label = "close">
          <span aria-atomic="true">X</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
        <div class="card card-body">
          <form action="{{url_for('add_cities')}}" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" name="cityname" placeholder = "name">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" name="population" placeholder = "Population">
            </div>
            <button class="btn btn-primary btn-block">
              Save 
            </button>
          </form>

        </div>
    </div>
    <div class="col-md-8">
        <div class="table-responsive-sm">
            <table class="table" id ="citiestable">
                <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Name</th>
                      <th scope="col">Population</th>
                      <th scope="col">Action</th> 
                    </tr>
                  </thead>
                  <tbody>
                      {% for data in cities%}
                    <tr>
                      <td>{{data.id}}</td>
                      <td>{{data.name}}</td>
                      <td>{{data.population}}</td>
                      <td>
                        <a class="btn btn-primary btn-sm" href="/edit/{{data.id}}">Edit</a>
                        <a href="/delete/{{data.id}}" class="btn btn-danger btn-delete btn-sm" >Delete</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>

</div>

{%endblock%}